<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/timestamp/2015-12-25">[project url]/api/timestamp/2015-12-25</a></li>
        <li><a href="api/timestamp/1451001600000">[project url]/api/timestamp/1451001600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        Link to code:
        <a href="https://glitch.com/edit/#!/summer-season-opal">Timestamp Microservice</a>
      </p>
      <p>
        By Lolontle Moatshe
      </p>
      <a href="https://www.linkedin.com/in/lolontlemoatshe/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a href="https://github.com/Lolontle/Timestamp_Microservice"><i class="fa fa-github fa-lg"></i></a>
    </div>
  </body>
</html>
